### **Pivot Tables**
A **pivot table** is a data summarization tool that helps you quickly organize and analyze data by grouping and aggregating values.
In **Pandas**, the `pivot_table()` function provides a flexible way to create pivot tables from DataFrames.

---
➡️ **Key Concepts of Pivot Tables**
* **Index:** The column(s) used to create the new DataFrame’s index.
* **Columns:** The column(s) whose unique values become new columns.
* **Values:** The column(s) whose data is summarized.
* **Aggregation Function:** The function used for aggregation (default is `numpy.mean`).
---
➡️ **Additional Notes**
* You can use other aggregation functions like `np.mean`, `np.min`, `np.max`, or even custom functions.
* Multiple columns can be passed to `values`, `index`, or `columns` for more complex summaries.
* Pivot tables are highly useful for **data summarization, trend analysis**, and **report generation**.

In [8]:
import pandas as pd

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03', '2023-01-03'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250, 300, 350]
})

# Create a basic pivot table
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc='sum')
print(pivot_table)

Product       A    B
Date
2023-01-01  100  150
2023-01-02  200  250
2023-01-03  300  350

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=60, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 60),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 60),
    'Sales': np.random.randint(100, 1000, 60),
    'Units': np.random.randint(1, 50, 60)
})
pivot_table = pd.pivot_table(
    data=df,
    values=['Sales', 'Units'],
    index='Region',
    columns='Product',
    aggfunc=['sum', 'mean']
)
print(pivot_table)

          sum                                    mean                     \
        Sales             Units                 Sales
Product     A     B     C     A    B    C           A           B      C
Region
East     3659  2143  3254   160  106   90  457.375000  714.333333  650.8
North    2796   800  2973   142   52  137  466.000000  400.000000  594.6
South    3842  3127  3410   126  209  126  548.857143  521.166667  682.0
West     2312  2510  2618    67  129  113  770.666667  502.000000  523.6


             Units
Product          A          B     C
Region
East     20.000000  35.333333  18.0
North    23.666667  26.000000  27.4
South    18.000000  34.833333  25.2
West     22.333333  25.800000  22.6

### **Advanced Pivot Table Features**
Pandas `pivot_table()` offers powerful customization options for **multi-dimensional analysis** and **data summarization**.
Here are the most important advanced features:

---
➡️ **Summary**

| Feature          | Description                         |
| ---------------- | ----------------------------------- |
| Multiple Index   | Enables hierarchical grouping       |
| Multiple Values  | Summarizes multiple columns         |
| Dict Aggregation | Different functions for each column |
| Margins          | Adds totals (sum, mean, etc.)       |
| Fill Value       | Replaces missing values             |

---

➡️ **1. `Multiple Index Levels`**: You can use **multiple columns** for the index to create a **hierarchical (multi-level) index**.

This groups data first by `Date`, then by `Product`.

In [39]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 15),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 15),
    'Sales': np.random.randint(100, 1000, 15),
    'Units': np.random.randint(1, 50, 15)
})

# 1. Multiple Index Levels
pivot_multi_index = pd.pivot_table(df, values='Sales',
                                   index=['Region', 'Product'],
                                   columns='Date',
                                   aggfunc='sum')

print("Pivot Table with Multiple Index Levels:")
print(pivot_multi_index.head(2))

Pivot Table with Multiple Index Levels:
Date            2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  \
Region Product
East   A               NaN         NaN         NaN         NaN         NaN
       B               NaN         NaN       568.0         NaN         NaN

Date            2023-01-06  2023-01-07  2023-01-08  2023-01-09  2023-01-10  \
Region Product
East   A               NaN         NaN         NaN         NaN         NaN
       B               NaN         NaN         NaN       442.0         NaN

Date            2023-01-11  2023-01-12  2023-01-13  2023-01-14  2023-01-15
Region Product
East   A               NaN         NaN       320.0         NaN         NaN
       B               NaN         NaN         NaN         NaN         NaN

➡️ **2. `Multiple Value Columns`:** You can aggregate **multiple columns** simultaneously.

This produces total `Sales` and `Quantity` per product.

In [38]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 15),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 15),
    'Sales': np.random.randint(100, 1000, 15),
    'Units': np.random.randint(1, 50, 15)
})
# 2. Multiple Value Columns
pivot_multi_values = pd.pivot_table(df, values=['Sales', 'Units'],
                                    index='Region',
                                    columns='Product',
                                    aggfunc={'Sales': 'sum', 'Units': 'mean'})

print("\nPivot Table with Multiple Value Columns:")
print(pivot_multi_values)

Pivot Table with Multiple Value Columns:
          Sales                      Units
Product       A       B       C          A     B     C
Region
East      476.0   672.0  1141.0  48.000000  20.0  20.0
North     912.0   638.0   903.0   4.000000  38.0   7.0
South    2093.0  1479.0   445.0  28.333333  19.5   6.0
West      903.0     NaN   750.0  37.000000   NaN  36.0

➡️ **3. `Using a Dictionary for Aggregation`:** Apply **different aggregation functions** to different columns.

Here, `Sales` are summed, and `Quantity` is averaged.

In [37]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 15),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 15),
    'Sales': np.random.randint(100, 1000, 15),
    'Units': np.random.randint(1, 50, 15)
})
# Specify the values explicitly and use callables (or numpy functions) for aggfunc
pivot_dict_agg = pd.pivot_table(
    df,
    values=['Sales', 'Units'],
    index='Region',
    columns='Product',
    aggfunc={'Sales': ['sum', 'mean'], 'Units': 'sum'} # type: ignore
) # type: ignore

print("\n✅ Pivot Table using Dictionary for Aggregation:")
print(pivot_dict_agg)

✅ Pivot Table using Dictionary for Aggregation:
              Sales                                       Units
               mean                   sum                   sum
Product           A      B      C       A       B       C     A     B     C
Region
East     794.333333  688.0  749.0  2383.0   688.0   749.0  59.0   5.0  42.0
North    319.000000    NaN  365.0   319.0     NaN   365.0  12.0   NaN  40.0
South    407.000000  721.0  364.0   814.0   721.0   364.0  74.0   2.0  17.0
West            NaN  753.5  523.5     NaN  1507.0  1047.0   NaN  36.0  29.0

➡️ **4. `Adding Margins (Totals)`:** The `margins=True` parameter adds **row and column totals** to your pivot table.

In [41]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 15),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 15),
    'Sales': np.random.randint(100, 1000, 15),
    'Units': np.random.randint(1, 50, 15)
})
# 4. Adding Margins (Totals)
pivot_margins = pd.pivot_table(df, values='Sales',
                               index='Region',
                               columns='Product',
                               aggfunc = 'sum',
                               margins=True,
                               margins_name='Total')

print("\nPivot Table with Margins:")
print(pivot_margins)

Pivot Table with Margins:
Product      A       B       C  Total
Region
East     547.0   495.0  1604.0   2646
North      NaN   604.0  1734.0   2338
South      NaN     NaN   368.0    368
West     394.0   139.0  2849.0   3382
Total    941.0  1238.0  6555.0   8734

➡️ **5. `Filling Missing Values`:** Use `fill_value` to replace **NaN values** with a specific number.

In [35]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15, freq='D'),
    'Product': np.random.choice(['A', 'B', 'C'], 15),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 15),
    'Sales': np.random.randint(100, 1000, 15),
    'Units': np.random.randint(1, 50, 15)
})
# 5. Filling Missing Values
pivot_fill = pd.pivot_table(df, values='Sales',
                            index='Region',
                            columns='Product',
                            aggfunc='sum',
                            fill_value=0)

print("\nPivot Table with Filled Missing Values:")
print(pivot_fill)

Pivot Table with Filled Missing Values:
Product     A     B    C
Region
East      400   576    0
North     929  1939  991
South       0   947    0
West     1128  1121    0

### **Understanding Melting in Pandas**
**Melting** is a reshaping operation in Pandas that converts data from a **wide format** (where columns represent variables) to a **long format** (where variables are stored in a single column).
It is the **opposite of pivoting**.

The `pd.melt()` function is used for this transformation.

---
➡️ **Key Concepts of Melting**

| Parameter        | Description                                                                          |
| ---------------- | ------------------------------------------------------------------------------------ |
| **`id_vars`**    | Columns to keep as identifier variables (these remain unchanged).                    |
| **`value_vars`** | Columns to unpivot (if not specified, all columns except `id_vars` are used).        |
| **`var_name`**   | Name of the new column that will contain the variable names (default: `'variable'`). |
| **`value_name`** | Name of the new column that will contain the values (default: `'value'`).            |
---
➡️ **`Summary`:** Melting is useful when:

* Preparing data for visualization tools like **Matplotlib** or **Seaborn**.
* Converting wide tables into a **tidy format** (one variable per column, one observation per row).
  It simplifies data handling and is essential for many **data analysis workflows**.

In [44]:
# Create a sample DataFrame in wide format
df_wide = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 76, 90],
    'Science': [92, 88, 75],
    'History': [78, 82, 85]
})

# Melt the DataFrame
df_melted = df_wide.melt(id_vars=['Name'], var_name='Subject', value_name='Score')

print(f"Original Wide DataFrame:\n{df_wide}\n")
print(f"Melted DataFrame:\n{df_melted}")

Original Wide DataFrame:
      Name  Math  Science  History
0    Alice    85       92       78
1      Bob    76       88       82
2  Charlie    90       75       85

Melted DataFrame:
      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     76
2  Charlie     Math     90
3    Alice  Science     92
4      Bob  Science     88
5  Charlie  Science     75
6    Alice  History     78
7      Bob  History     82
8  Charlie  History     85

In [48]:
df = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math_2022': [85, 76, 90, 82],
    'Math_2023': [88, 80, 92, 85],
    'Science_2022': [92, 88, 75, 79],
    'Science_2023': [95, 90, 78, 81],
    'History_2022': [78, 82, 85, 76],
    'History_2023': [80, 85, 88, 79]
})

# Update your code below this line
melted_df = df.melt(
        id_vars = 'Student',
        value_name='Score',
        var_name='Subject_year'
    )
print(melted_df)

    Student  Subject_year  Score
0     Alice     Math_2022     85
1       Bob     Math_2022     76
2   Charlie     Math_2022     90
3     David     Math_2022     82
4     Alice     Math_2023     88
5       Bob     Math_2023     80
6   Charlie     Math_2023     92
7     David     Math_2023     85
8     Alice  Science_2022     92
9       Bob  Science_2022     88
10  Charlie  Science_2022     75
11    David  Science_2022     79
12    Alice  Science_2023     95
13      Bob  Science_2023     90
14  Charlie  Science_2023     78
15    David  Science_2023     81
16    Alice  History_2022     78
17      Bob  History_2022     82
18  Charlie  History_2022     85
19    David  History_2022     76
20    Alice  History_2023     80
21      Bob  History_2023     85
22  Charlie  History_2023     88
23    David  History_2023     79